$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/"

// bower:scss
@import bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss
// endbower
@import "compass/css3/transform"
@import "compass/css3/transition"
/* Space out content a bit */
html
	height: 100%

body
	height: 100%
	background: rgb(65, 65, 65)
	+transition-property(background-color)
	+transition-duration(650ms)
	+transition-timing-function(ease-out)

h1
	font-size: 6em
	// color: rgb(192, 192, 191)
	color: #FFF
	padding-bottom: .1em
	font-family: 'Lato', sans-serif

.bgcolor1
	background-color: #12538B

.bgcolor2
	background-color: #449d44

.bgcolor3
	background-color: #414141

.counter
	display: block
	position: relative
	text-align: center
	vertical-align: middle
	cursor: pointer
.counter-button
	width: 3em
	height: 3em
	font-size: 2em
	outline: none
	background-color: rgba(255,255,255,.2)
	color: #FFF
	&:hover,
	&:focus,
	&:active,
	&:active:focus
		outline: none
		color: #FFF

.navbar
	min-height: 40px
.navbar-inverse
	background-color: rgba(0,0,0,.25)
	border-color: rgba(0,0,0,.125)
	height: 40px

settings
	display: block
	z-index: 1
	height: 100%
	width: 75px
	position: absolute

.settings
	width: 15em
	height: 100%
	background: rgba(0,0,0,.4)
	float: left
	display: block
	color: white
	@include translate(-15em, 0)
	+transition-property(translate)
	+transition-duration(400ms)
	+transition-timing-function(ease-in-out)

	h2,h3
		text-align: center
		width: 100%
	div
		width: 100%
		float: left
		&.bgWrap
			width: 3.33em
			height: 3.33em
			border: 1px solid
			float: left
			margin: .75em
			border-radius: 1em
			cursor: pointer

	// Volume slider
	span.min,
	span.max
		float: left
		width: 15%
	span.min
		text-align: right
		padding-right: 5%
	span.max
		padding-left: 5%
	input
		width: 60%
		float: left

.settings-rolled
	@include translate(0em, 0)
.settings-ico
	font-size: 3em
	color: white
	position: absolute
	top: .5em
	left: .5em

.wrapper
	@include translate(0em, 0)
	+transition-property(translate)
	+transition-duration(400ms)
	+transition-timing-function(ease-in-out)
.wrapper-rolled
	@include translate(15em, 0)

.icon-pos
	float: left
	img
		width: 40px
		height: 40px